
.bg{
  background-color:#157b76;
  height: 600px;
}


.fotogrid {
  padding:1rem; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1em;
  }
  
  .tile {
    position: relative;
    width: 100%;
    display: grid; /* an inner grid */
  }
  
  .tile a {
    grid-row: 1; /* place in first row */
    grid-column: 1;  /* place in first column */
  }
  
  .tile img {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .tile h4 {
    margin: 0;
    background-color: #093836;
    color:white;
    padding: 10px 14px;

    grid-row: 1; /* place in first row */
    grid-column: 1;  /* place in first column */
    align-self: flex-start; /* take auto-width */
  }
  
  .tile:hover {
    opacity: .9;
  }