* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    
}



.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000103;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
}

.brand-title{
    font-size:1.5rem;
    margin: .5rem;
    margin-left: 50px;
}

.navbar-links {
    margin-right:100px;
}

.navbar-links ul{
    margin:0;
    padding:0;
    display:flex;
}

.navbar-links li{
    list-style:none;
    padding:3%;
}

.navbar-links li a{
    text-decoration:none;
    color:white;
    padding: 2rem;
    display:black;
}

.navbar-links li:hover{
    background-color:#29292b;
}

.cta_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;

}

.call-to-action-btn{
    background-color: #25ddd4; 
    border: none;
    color: white;
    padding: 20px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;

}

.call-to-action-btn:hover{
    background-color: #157b76; 
    cursor: pointer;
}




.sobre{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:10rem;

    font-size-adjust: 0.90;
    font-family: 'Roboto Condensed';
    color:black;
    font-weight: 800px;
}


#foto_pessoal{
    position: absolute;
    padding-left: 50px;
    width: 500px;
}


.blocktext{
    margin-right: 50px;
    margin-left: 650px;
    text-align: left;
    padding-top:2rem;

    font-size-adjust: 0.70;
    font-family: 'Roboto Condensed';
    color:black;
    font-weight: 800px;
}



.footer-links ul{
    margin:1rem;
    padding:0;
    display:flex;
}

.footer-links li{
    list-style:none;
}

.footer-links li a{
    text-decoration:none;
    color:white;
    padding-left: 2rem;
    display:black;
}

.icon{
    width:1.2rem;
    height:1.2rem;
}

canvas{
    position:absolute;
    top:0px;
    height: 100vh; /* For 100% screen height */
    width:  100vw; /* For 100% screen width */
    z-index: -1;
}

.post p{
    text-decoration:none;
    justify-content: space-between;
    align-items: center;
    background-color: #000103;
    color:white;
    font-family: 'Roboto', sans-serif;
}

